<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %l lowers performance -->
            <!--<pattern>%d [%t] %-5p %l%n  %m%n</pattern>-->
            <!-- 
            <pattern>%d [%p] [%t] [%C] %-5p %m%n</pattern>
             -->
             <pattern>[%p] [%t] [%C] %-5p %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.kie" level="info"/>

    <logger name="org.drools" level="info" />
    
    <logger name="org.drools.core.phreak.RuleNetworkEvaluator" level="trace" />

    <logger name="org.jboss.ddoyle" level="info" />
    
    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>